# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local
.turbo

# Env
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test / coverage
coverage

# Supabase
supabase/.branches
supabase/.temp

# TypeScript
*.tsbuildinfo
